.archive-heading {
  max-width: 30rem;
  border-bottom: 1px solid var(--gray-1);
  padding-bottom: 1em;

  h2 {
    font-size: clamp(1.5rem, 2.7778vw + 0.6rem, 2rem);
    margin-bottom: 0.25em;
    color: var(--primary-color);
  }

  p {
    font-size: 1rem;
    color: var(--gray-6);
    line-height: 1.5;
  }
}
